@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
}

/* Header Styles */
.header {
    text-align: center;
    align-items: center;
    padding: 1rem 3rem;
    position: sticky;
    top:0;
    z-index: 1000;
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    
}
.logo-text{
    display: flex;
    align-items: center;
    text-align: center;
    height: 200;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    
    text-decoration: none;
    margin-right: 1rem;
}

.brand {
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease-in-out; /* Add transition */
    padding: 1rem 1rem;
}

.nav-links a:hover {
    color: rgb(245, 92, 4);
    border-radius: 5px;
    font-weight: bold;
    
}

/* Hero Section Styles */
.hero {
    background-image: url('https://img.freepik.com/free-vector/bitcoin-technology-concept-with-circuit-diagram_1419-2255.jpg?w=900&t=st=1695897922~exp=1695898522~hmac=174e9710b5d573efe74bf79f3359b1729b18c379469af4b82e6fc3e41d14e7cf');
    background-size: cover;    
    text-align: center;
    margin-top: -85px;
    padding: 4rem 0;
    min-height: 105vh;
    
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.head1 {
    font-size: 3.5em;
  text-transform: uppercase;
  font-family: 'Open Sans Pro', sans-serif;
  color: #dfd9d9;
  /* background: url('https://media.tenor.com/RJgdogvsjEsAAAAd/galaxie-galaxy.gif');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.hero p {
    font-size: 1.2rem;
    padding-top: 10px;
    width: 70%;
    margin:auto;
    color: #c7c4c4;
}
.headColor{
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 40px #fdff04,
    0 0 100px #fdff04,
    0 0 150px #fdff04;
    /* background: url('https://wallpaperset.com/w/full/c/a/1/299427.jpg');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}


/* .heroDiv1{
    background-color: rgba(14, 13, 13, 0.1);
    backdrop-filter: blur(05px);
    height: 50vh;
    margin-left: 2rem;
    padding: 1rem;
    
} */

.heroDiv1{
    width: 60%;
}